# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

vector_add
gpu_examples/matrix_mul
npu_examples/npu_matrix_mul
gpu_examples/llvm_to_opencl/llvm_to_opencl
linux-npu-driver
venv
test_devices
npu_examples/list_devices