[submodule "gpu_scheduler/cutlass"]
	path = gpu_scheduler/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "external/spdk"]
	path = external/spdk
	url = https://github.com/spdk/spdk.git
[submodule "uvm_bench/UVM_benchmark"]
	path = uvm_bench/UVM_benchmark
	url = https://github.com/eunomia-bpf/UVM_benchmark
