[submodule "gpu_scheduler/cutlass"]
	path = gpu_scheduler/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "external/spdk"]
	path = external/spdk
	url = https://github.com/spdk/spdk.git

[submodule "scheduler/xsched"]
	path = scheduler/xsched
	url = https://github.com/XpuOS/xsched
[submodule "gpu_ext_policy"]
	path = gpu_ext_policy
	url = https://github.com/eunomia-bpf/gpu_ext_policy
