[submodule "gpu_scheduler/cutlass"]
	path = gpu_scheduler/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "external/spdk"]
	path = external/spdk
	url = https://github.com/spdk/spdk.git
